.profile__info_text_avtor {
    
    grid-column: 1/1;
    grid-row: 1/1;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color:#FFFFFF;
}
